div:not(.container) {
    width: 100px;
    height: 100px;
    background-color: rgba(255, 0, 0, 0.7);
    border: 1px solid black;
    box-shadow: 0 0 3px;
  }

  .translate {
      transform: translate3d(50px, 10px, 50px);
  }

  .rotate {
      transform: rotate3d(0.5,0.6, 0.7, 90deg);
  }

  .scale {
      transform: scale3d(2, 1.5, 5);
  }
