.container {
    width: 200px;
    height: 90vh;
    position: relative;
    top: 5%;
    float: left;
    margin: 0 50px;
  }

  
#animated_div {
    width: 70px;
    height: 47px;
    background: #92B901;
    color: #fff;
    position: relative;
    padding: 10px;
    border-radius: 5px;
    animation: animated_div 5s infinite;
  }

  
@keyframes animated_div {
    0% {
      left: 0px;
    }
    50% {
      left: 5px;
      box-shadow: 5px 5px 10px 5px blue;
    }
    100% {
      left: 0px;
    }
  }